* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.wrapper h1 {
    font-size: 31px;
    text-align: center;
}

.wrapper input {
    font-size: 20px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 15px 0;
    position: relative;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 152, 112);
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #ffffff;
    background: rgba(4, 171, 116, 0.82);
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(16, 181, 126);
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .btn:hover {
    background: rgba(8, 162, 112, 0.87);
    transition: background 1s ease;
}